#slogan{
  text-align: center;
  text-transform: uppercase;
}

#main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-bottom: 20px;
}

#about{
  float: left;
  margin-left: 12.5%;
  width: 37.5%;
  height: 400px;
}

#whymission{
  float: right;
  margin-right: 12.5%;
  width: 37.5%;
  height: 400px;
}

#aboutcurators{
  text-align: center;
  text-transform: uppercase;
}

#curators{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.column {
  float: left;
  width: 33.33%;
  padding-top: 20px;
  margin-left: 12.5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 10px;
}

column {
  float: left;
}

.left, right {
  width: 25%;
}

.middle {
  width: 50%;
}

  /* .column h2{
    font-size: 18px;
    font-weight: bold;
  } */
