* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Helvetica, sans-serif;
  padding: 20px;
  background: #f2f2f2;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  color: white;
  text-transform: uppercase;
  font-family: 'Chewy', cursive;
  background: url("https://c2.staticflickr.com/6/5287/5373093007_8284a81f09_b.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   height: 240px;
}
.card img{
  display: block;
  float: left;
  padding-right: 10px;

}

.card a{
  text-decoration: none;
  color: black;
}

.card a:hover{
  color: gray;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
<<<<<<< Updated upstream
=======

#logo{
  float: left;
}

.header a {
  background: white;
}

h2{
  text-transform: uppercase;
}
>>>>>>> Stashed changes
