/* body {
  background: url("https://cdn.pixabay.com/photo/2017/05/27/03/40/seattle-2347580_1280.jpg") no-repeat center center fixed;
} */


input[type=post], select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 35%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
  
button {
  display: block;
  margin: auto;
} 
  
button {
  border: none;
  padding: 10px 30px;
  background: rgb(2, 0, 1);
  color:rgb(252, 183, 229);
  border-radius: 3px;
  font-size: 18px;
  margin-top: 10px;
  transition: 350ms;
  cursor: pointer;
}
  
button:hover {
  background: rgb(252, 183, 229);
  color: black;
}
  
  /* Footer  */
  
footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}
  
p.copyright {
  position: absolute;
  width: 100%;
  color:black;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}

#container{
  padding-left: 50px;
  width: 50px;

}
#container img{
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
}

img:hover {
  /* Start the shake animation and make the animation last for 0.7 seconds */
  animation: shake 0.7s; 
  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#container p{
  font-size: 18px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  
}
  
#container h1{
  position: absolute;
  margin-left: 20%;
  text-transform: capitalize;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
 
  
}

h1{
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
}