/* HEADER */

body {
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: #888;
}

/* MAIN - SUB BANNERS */

main {
    margin: 0 auto;
    width: 90%; 
    float: center;
    padding-top: 5%;
}

main ul li {
    list-style: none;
    float: left;
    margin: .5%;
}

#row2 {
    list-style: none;
    float: center;
    margin-top: .5%;
}

/* MAIN - FEATURED SECTION */

section img {
    float: left;
}

section div {
    width: calc(50% - 30px);
    float: left;
    padding-left: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

section {
    margin: 0 auto;
    width: 90%;
    float: left; 
}



/* FOOTER */

footer {
    margin: 0 auto;
    width: 15%;
    float: center; 
    border-top: 25%;
}
