 #header {
     padding-top: 10%;
     padding-left: 10%;
     padding-right: 5%;
     border: dashed;
 } 
 
 #main {
    float: left;
    position: static;
    width: 50%;
    height: 30%;
 }

.imgcontainer {
    position:relative;
    margin-left: 52%;
    padding-bottom: 5%;
    width: 20%;
    height: 10%;
    border: dashed;
}

 #top {
    margin-left: .5%;
    padding-bottom: 30%;
    width: 90%;
    height: 60%;
 }

 #bottom {
    margin-left: .5%;
    padding-top: 17%;
    width: 90%;
    height: 60%;
}

.storeinfo {
    float: right;
    margin-top: -42%; 
    padding-right: 15%;
    font-size: .8vw;
}
