* { 
font-family: Helvetica, sans-serif
}
#slogan{
text-align: center;
text-transform: uppercase;
font-family: Montserrat, sans-serif;
}
.main {
float: left;
margin-left: 25%;
margin-right: 25%;
vertical-align: middle;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main{
display: block;
margin-left: auto;
margin-right: auto;
width: 75%;
padding-bottom: 10%;
font-family: 'Chewy', cursive;
}

#whymission{
float: right;
margin-right: 12.5%;
margin-bottom: 10%;
padding-top: 1%;
width: 37.5%;
height: 300%;
}

#about{
float: left;
margin-left: 12.5%;
margin-bottom: 10%;
padding-top: 1%;
width: 36%;
}

#aboutcurators{
text-align: center;
text-transform: uppercase;
float: center;
height: 350%;
margin-top: 25%;
margin-bottom: 5%;
}


#slogan{
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
}
.main {
  display: inline-block;
  margin-left: 12%;
  margin-right: 12%;
  vertical-align: middle;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#whymission{
  float: right;
  margin-right: 12.5%;
  width: 35%;
  height: 60%;
}

#aboutcurators{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}


.column {
  float: left;
  width: 37.5%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 12.5%;
  font-family: Montserrat, sans-serif;
  }

.column img{
  width: 50%;
}
.row{
display: table;
clear: both;
padding-top: 10px;
margin-right: 12.5%;
}


